{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Note{% endblock %}</h1>
  <a class="action btn-light btn" href="{{ url_for('notes.index') }}" role="button">Cancel</a>
  <script src="{{ url_for('static', filename='create.js') }}"></script>
{% endblock %}

{% block content %}
<form onsubmit="post();return false">
  <label class="input" for="title">Title</label>
  <input class="input" name="title" id="title" required>
  <label class="input" for="body">Body</label>
  <textarea class="input" name="body" id="body"></textarea>
  {% if can_notify %}
    <label class="input" for="datetime">Notification time(can be empty)</label>
    <input class="input" type="datetime-local" name="datetime" id="datetime">
  {% endif %}
  <input class="btn btn-success" type="submit" value="Save" id="create_submit">
</form>
{% endblock %}
