{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Notes{% endblock %}</h1>
  <a class="action btn-light btn" href="{{ url_for('notes.create') }}">New</a>
  <a class="action btn-light btn" href="{{ url_for('notes.restore_index') }}">Restore Notes</a>
  <a class="action btn-dark btn" href="{{ url_for('user.user_index') }}">Account</a>
  <script src="{{ url_for('static', filename='index.js') }}" defer></script>
{% endblock %}

{% block content %}
  {% for note in notes %}
    <article class="post">
      <header>
        <div>
          <h1>{{ note['title'] }}</h1>
           <div class="about created">{{ note['created'] }}</div>
          <div class="about notify">
            {% if note['notify'] != None %}{{ note['notify'] }} {% endif %}
          </div>
        </div>
        <a class="action btn-light btn" href="{{ url_for('notes.update', id_=note['id']) }}">Edit</a>
      </header>
      <p class="body">{{ note['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
