{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
  <a class="action btn-light btn" href="{{ url_for('auth.index') }}" role="button">Return</a>
{% endblock %}

{% block content %}
  <form method="post">
    <label class="input" for="username">Username</label>
    <input class="input" name="username" id="username" required>
    <label class="input" for="password">Password</label>
    <input class="input" type="password" name="password" id="password" required>
    <input class='btn btn-success' type="submit" value="Register">
  </form>
{% endblock %}
